{% include 'header_and_footer/header.html' %}
<br><br><br><br>
<center>
    <div class="card" style="width: 18rem;">
        <img src="{{film_id.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">{{film_id.title}}</p>
            <p class="card-text">{{film_id.description}}</p>
            <p class="card-text">{{film_id.cost}}</p>
            <p class="card-text">{{film_id.genre}}</p>
            <p class="card-text">{{film_id.created_at}}</p>
        </div>
    </div>
    <br><br>
    <table>
        <tr>
            <th>Оценка</th>
            <th>Отзыв</th>
            <th>Дата создания</th>
        </tr>
        {% for i in film_id.comment_object.all %}
        <tr>
            <td>{{i.mark}}</td>
            <td>{{i.text_review}}</td>
            <td>{{i.created_at}}</td>
        </tr>
        {%endfor%}

    </table>
</center>

<style>
    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 14px;
        border-collapse: collapse;
        text-align: center;
    }

    th, td:first-child {
        background: #AFCDE7;
        color: white;
        padding: 10px 20px;
    }

    th, td {
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-color: white;
    }

    td {
        background: #D8E6F3;
    }

    th:first-child, td:first-child {
        text-align: left;
    }
</style>
{% include 'header_and_footer/footer.html' %}